In [42]:
import json
fd = open("record.json",'r')
r = fd.read()
fd.close()
record=json.loads(r)

In [43]:
for i in record:
  print("ID:",i)
  print(record[i]['comp'],record[i]['color'],"Rs.",record[i]['price'],"Quantity Available:",record[i]['quant'],"Size:",record[i]['size'])
  print("")

ID: ADI1
Adidas Blue Rs. 799 Quantity Available: 150 Size: L

ID: ADI2
Adidas Green Rs. 435 Quantity Available: 10 Size: M

ID: ADI3
Adidas Blue Rs. 456 Quantity Available: 10 Size: XXL

ID: ADI4
Adidas Navy Blue Rs. 765 Quantity Available: 50 Size: S

ID: ADI5
Adidas Peach Rs. 456 Quantity Available: 40 Size: M

ID: NIKE1
Nike Black Rs. 978 Quantity Available: 30 Size: XXXL

ID: NIKE2
Nike Pink Rs. 575 Quantity Available: 52 Size: XXL

ID: NIKE3
Nike Green Rs. 547 Quantity Available: 73 Size: L

ID: NIKE4
Nike Orange Rs. 574 Quantity Available: 89 Size: M

ID: NIKE5
Nike White Rs. 777 Quantity Available: 43 Size: S

ID: ZACK1
ZACK AND ZONES RED Rs. 650 Quantity Available: 60 Size: M

ID: JINNY1
JINKUJOL Red Rs. 450 Quantity Available: 5 Size: M

ID: JINNY2
JINKIJOL White Rs. 555 Quantity Available: 70 Size: L

In [46]:
print("Do you want to add new products to your inventory?\n")
ans=str(input("Write YES or NO in Capital : "))
if ans=="NO":
  print("Okay, See You Next Time.\nGoodBye!")
elif ans=="YES":
  items=int(input("How many New Items, do you want to add to your Inventory? : "))
  for j in range(0,items):

    prod_id = str(input("\nEnter T-Shirt ID:"))
    comp = str(input("Enter T-Shirt Company:"))
    color=str(input("Enter T-Shirt Color:"))
    price = int(input("Enter T-Shirt Prize:"))
    quant = int(input("Enter T-Shirt Quantity:"))
    size=str(input("Enter T-Shirt Size:"))
    record[prod_id] = {'comp': comp, 'color':color,'price': price, 'quant': quant,'size':size}
    print("\nInventory has been updated!")
    js = json.dumps(record)
    fd = open("record.json",'w')
    fd.write(js)
    fd.close()

Do you want to add new products to your inventory?

Write YES or NO in Capital : YES
How many New Items, do you want to add to your Inventory? : 10

Enter T-Shirt ID:NOTTY1
Enter T-Shirt Company:NATWAR
Enter T-Shirt Color:Peach
Enter T-Shirt Prize:560
Enter T-Shirt Quantity:500
Enter T-Shirt Size:L

Inventory has been updated!

Enter T-Shirt ID:NOTTY2
Enter T-Shirt Company:Natwar
Enter T-Shirt Color:Green
Enter T-Shirt Prize:450
Enter T-Shirt Quantity:670
Enter T-Shirt Size:L

Inventory has been updated!

Enter T-Shirt ID:NOTTY3
Enter T-Shirt Company:Natwar
Enter T-Shirt Color:Orange
Enter T-Shirt Prize:600
Enter T-Shirt Quantity:6000
Enter T-Shirt Size:L

Inventory has been updated!

Enter T-Shirt ID:NOTTY4
Enter T-Shirt Company:Natwar
Enter T-Shirt Color:Black
Enter T-Shirt Prize:4500
Enter T-Shirt Quantity:10000
Enter T-Shirt Size:M

Inventory has been updated!

Enter T-Shirt ID:NOTTY5
Enter T-Shirt Company:Natwar
Enter T-Shirt Color:White
Enter T-Shirt Prize:550
Enter T-Shirt Quantity:600
Enter T-Shirt Size:XL

Inventory has been updated!

Enter T-Shirt ID:PXI1
Enter T-Shirt Company:Pixel
Enter T-Shirt Color:White
Enter T-Shirt Prize:700
Enter T-Shirt Quantity:650
Enter T-Shirt Size:M

Inventory has been updated!

Enter T-Shirt ID:PXI2
Enter T-Shirt Company:Pixel
Enter T-Shirt Color:Orange
Enter T-Shirt Prize:4500
Enter T-Shirt Quantity:560
Enter T-Shirt Size:S

Inventory has been updated!

Enter T-Shirt ID:PXI3
Enter T-Shirt Company:Pixel
Enter T-Shirt Color:Cream
Enter T-Shirt Prize:600
Enter T-Shirt Quantity:900
Enter T-Shirt Size:M

Inventory has been updated!

Enter T-Shirt ID:PXI4
Enter T-Shirt Company:Pixel
Enter T-Shirt Color:Red
Enter T-Shirt Prize:987
Enter T-Shirt Quantity:790
Enter T-Shirt Size:XXL

Inventory has been updated!

Enter T-Shirt ID:PXI5
Enter T-Shirt Company:Pixel
Enter T-Shirt Color:Hue
Enter T-Shirt Prize:999
Enter T-Shirt Quantity:1000
Enter T-Shirt Size:L

Inventory has been updated!

In [47]:
print("The Stocks Till Now :\n\n")
m=1
for i in record:
  print(m,i,record[i]['comp'],record[i]['color'],"Rs.",record[i]['price'],"Quantity Available:",record[i]['quant'],"Size:",record[i]['size'])
  m=m+1

The Stocks Till Now :


1 ADI1 Adidas Blue Rs. 799 Quantity Available: 150 Size: L
2 ADI2 Adidas Green Rs. 435 Quantity Available: 10 Size: M
3 ADI3 Adidas Blue Rs. 456 Quantity Available: 10 Size: XXL
4 ADI4 Adidas Navy Blue Rs. 765 Quantity Available: 50 Size: S
5 ADI5 Adidas Peach Rs. 456 Quantity Available: 40 Size: M
6 NIKE1 Nike Black Rs. 978 Quantity Available: 30 Size: XXXL
7 NIKE2 Nike Pink Rs. 575 Quantity Available: 52 Size: XXL
8 NIKE3 Nike Green Rs. 547 Quantity Available: 73 Size: L
9 NIKE4 Nike Orange Rs. 574 Quantity Available: 89 Size: M
10 NIKE5 Nike White Rs. 777 Quantity Available: 43 Size: S
11 ZACK1 ZACK AND ZONES RED Rs. 650 Quantity Available: 60 Size: M
12 JINNY1 JINKUJOL Red Rs. 450 Quantity Available: 5 Size: M
13 JINNY2 JINKIJOL White Rs. 555 Quantity Available: 70 Size: L
14 PUMA1 PUMA Green Rs. 700 Quantity Available: 50 Size: L
15 PUMA2 PUMA Red Rs. 699 Quantity Available: 700 Size: L
16 PUMA3 PUMA Orange Rs. 5000 Quantity Available: 9000 Size: XL
17 PUMA PUMA Black Rs. 5067 Quantity Available: 700 Size: M
18 PUMA4 PUMA Pink Rs. 100 Quantity Available: 700 Size: XS
19 PUMA5 PUMA Blue Rs. 399 Quantity Available: 450 Size: S
20 VT1 Videsh White Rs. 600 Quantity Available: 600 Size: L
21 VT2 Videsh Cream Rs. 100 Quantity Available: 10000 Size: XL
22 VT3 Videsh Grey Rs. 150 Quantity Available: 600 Size: L
23 NOTTY1 NATWAR Peach Rs. 560 Quantity Available: 500 Size: L
24 NOTTY2 Natwar Green Rs. 450 Quantity Available: 670 Size: L
25 NOTTY3 Natwar Orange Rs. 600 Quantity Available: 6000 Size: L
26 NOTTY4 Natwar Black Rs. 4500 Quantity Available: 10000 Size: M
27 NOTTY5 Natwar White Rs. 550 Quantity Available: 600 Size: XL
28 PXI1 Pixel White Rs. 700 Quantity Available: 650 Size: M
29 PXI2 Pixel Orange Rs. 4500 Quantity Available: 560 Size: S
30 PXI3 Pixel Cream Rs. 600 Quantity Available: 900 Size: M
31 PXI4 Pixel Red Rs. 987 Quantity Available: 790 Size: XXL
32 PXI5 Pixel Hue Rs. 999 Quantity Available: 1000 Size: L