In [111]:
import json
import time
fd = open("record.json",'r')
r = fd.read()
fd.close()
record = json.loads(r)

# fs = open("sales.json",'r')
# s = fs.read()
# fs.close()
# sales = json.loads(s)

In [112]:
m=1
for i in record:
  print(m,"ID:",i,record[i]['comp'],record[i]['color'],"Rs.",record[i]['price'],"Size:",record[i]['size'])
  print("")
  m=m+1

1 ID: ADI1 Adidas Blue Rs. 799 Size: L

2 ID: ADI2 Adidas Green Rs. 435 Size: M

3 ID: ADI3 Adidas Blue Rs. 456 Size: XXL

4 ID: ADI4 Adidas Navy Blue Rs. 765 Size: S

5 ID: ADI5 Adidas Peach Rs. 456 Size: M

6 ID: NIKE1 Nike Black Rs. 978 Size: XXXL

7 ID: NIKE2 Nike Pink Rs. 575 Size: XXL

8 ID: NIKE3 Nike Green Rs. 547 Size: L

9 ID: NIKE4 Nike Orange Rs. 574 Size: M

10 ID: NIKE5 Nike White Rs. 777 Size: S

11 ID: ZACK1 ZACK AND ZONES RED Rs. 650 Size: M

12 ID: JINNY1 JINKUJOL Red Rs. 450 Size: M

13 ID: JINNY2 JINKIJOL White Rs. 555 Size: L

14 ID: PUMA1 PUMA Green Rs. 700 Size: L

15 ID: PUMA2 PUMA Red Rs. 699 Size: L

16 ID: PUMA3 PUMA Orange Rs. 5000 Size: XL

17 ID: PUMA PUMA Black Rs. 5067 Size: M

18 ID: PUMA4 PUMA Pink Rs. 100 Size: XS

19 ID: PUMA5 PUMA Blue Rs. 399 Size: S

20 ID: VT1 Videsh White Rs. 600 Size: L

21 ID: VT2 Videsh Cream Rs. 100 Size: XL

22 ID: VT3 Videsh Grey Rs. 150 Size: L

23 ID: NOTTY1 NATWAR Peach Rs. 560 Size: L

24 ID: NOTTY2 Natwar Green Rs. 450 Size: L

25 ID: NOTTY3 Natwar Orange Rs. 600 Size: L

26 ID: NOTTY4 Natwar Black Rs. 4500 Size: M

27 ID: NOTTY5 Natwar White Rs. 550 Size: XL

28 ID: PXI1 Pixel White Rs. 700 Size: M

29 ID: PXI2 Pixel Orange Rs. 4500 Size: S

30 ID: PXI3 Pixel Cream Rs. 600 Size: M

31 ID: PXI4 Pixel Red Rs. 987 Size: XXL

32 ID: PXI5 Pixel Hue Rs. 999 Size: L

In [116]:
print("Welcome Sir/Madam. \nWe has diverse variety of T-Shirts from Various Brands in all sorts of colours.\n\n\nPlease Enter the details of the T-Shirt variety you would like to buy")
trans=int(input("How many transactions do you wish do to? : "))
ti=4
for k in range(0,trans):
  ti=ti+1
  CUSTOMER=str(input("Please Enter Your Name: "))
  ask_id=str(input("\nEnter T-Shirt ID which you wish to purchase : "))
  ask_quant=int(input("How many T-Shirts of this type do you want?: "))

  print("\n\nYou have Selected T_Shirt :\nCompany :", record[ask_id]['comp'])
  print("Color: ",record[ask_id]['color'])
  print("Price: ",record[ask_id]['price'])
  print("Size: ",record[ask_id]['size'])
  print("Number of Pieces: ",ask_quant)

  print("\nThank You for Shopping with us,\nMr/Mrs ",CUSTOMER," ,Your Total Bill is of Rs: ",(sell[ask_id]['price'])*(ask_quant))
  import time
  print("Transaction Time: ",time.ctime(),"\n\n")

  record[ask_id]['quant'] = record[ask_id]['quant'] -ask_quant

  js = json.dumps(record)
  fd = open("record.json",'w')
  fd.write(js)
  fd.close()

  {'CUSTOMER' : CUSTOMER, 'bill' : sell[ask_id]['price']*ask_quant, 'quant': ask_quant}
  sales = {ti : {'CUSTOMER' : CUSTOMER, 'bill' : sell[ask_id]['price']*ask_quant, 'quant': ask_quant}}
  ti=ti+1

  sj = json.dumps(sales)

Welcome Sir/Madam.
We has diverse variety of T-Shirts from Various Brands in all sorts of colours.


Please Enter the details of the T-Shirt variety you would like to buy
How many transactions do you wish do to? : 2
Please Enter Your Name: Mansi

Enter T-Shirt ID which you wish to purchase : ADI3
How many T-Shirts of this type do you want?: 4


You have Selected T_Shirt :
Company : Adidas
Color:  Blue
Price:  456
Size:  XXL
Number of Pieces:  4

Thank You for Shopping with us,
Mr/Mrs  Mansi  ,Your Total Bill is of Rs:  1824
Transaction Time:  Mon Sep  6 16:22:07 2021


Please Enter Your Name: Aadil

Enter T-Shirt ID which you wish to purchase : ADI5
How many T-Shirts of this type do you want?: 3


You have Selected T_Shirt :
Company : Adidas
Color:  Peach
Price:  456
Size:  M
Number of Pieces:  3

Thank You for Shopping with us,
Mr/Mrs  Aadil  ,Your Total Bill is of Rs:  1368
Transaction Time:  Mon Sep  6 16:22:28 2021